.DS_Store
_Ignored
Icons/
Resources/ffmpeg/sharedLibs
TODO.txt
Resources/ffmpeg/ffmpeg
Resources/ffmpeg/ffprobe
Resources/ffmpeg/speex
Resources/ffmpeg/amr
Resources/ffmpeg/codecs.txt
Resources/ffmpeg/fmts.txt
Resources/ffmpeg/codecs.txt
Resources/ffmpeg/codecs.txt
