.DS_Store
_Ignored
Icons/
Resources/ffmpeg/sharedLibs
TODO.txt
Resources/ffmpeg/ffmpeg
Resources/ffmpeg/ffprobe
Resources/ffmpeg/speex
Resources/ffmpeg/amr
Resources/ffmpeg/codecs.txt
Resources/ffmpeg/fmts.txt
Source/AudioGraph/Utils/OtherDM.swift

Resources/ffmpeg/codecs-inst.txt
Resources/ffmpeg/codecs-mine.txt
Resources/ffmpeg/missing.txt
